<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>WApplicationId</Key>
            <Value>d25517cb-12d4-4699-8bdc-52040c712cab</Value>
          </Property>
          <Property>
            <Key>MApplicationId</Key>
            <Value>3f83fe91-d6be-434d-a0ae-7351c5a997f1</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppKey</Key>
            <Value>17fdaa93-182e-465e-81fd-5c2d2683ad31</Value>
          </Property>
        </Metadata>
        <Name>AdDuplex</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>184651</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-4234FC3C-627B-4BB3-945C-6C19A4E4BA1B</Id>
        <Name>AdMediator_Electricity_Mob</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>184651</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-64C8E9B0-54FF-430D-A218-D259D05523BC</Id>
        <Name>AdMediator_Main_Mob</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>184651</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-763A5744-8351-4D1E-B644-953090A49B33</Id>
        <Name>AdMediator_Gas_Mob</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>184651</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-1D829AFC-E8D6-42FA-A07B-A0EE0A5BFABE</Id>
        <Name>AdMediator_Water_Mob</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>184651</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-5F73B293-AB8E-44DF-90F0-1A5256A6A7A2</Id>
        <Name>AdMediator_Electricity_Tips_Mob</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>184651</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-FB129E38-C507-4EE4-8949-1EE290AEDB15</Id>
        <Name>AdMediator_Gas_Tips_Mob</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>184651</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-469B2168-A51A-4341-89A3-01D6F43EEDFE</Id>
        <Name>AdMediator_Water_Tips_Mob</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>184651</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-3F014AD4-C9FA-4D9E-AE70-2BDCC867DD90</Id>
        <Name>AdMediator_Electricity</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>184651</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-3848558D-58DF-45F2-8B2E-696C040BDCEC</Id>
        <Name>AdMediator_Gas</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>184651</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-DDF2B4D1-10CF-4075-B76B-A6EC1C04A528</Id>
        <Name>AdMediator_Main</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>184651</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-90D3D00A-4105-4BAC-8977-76BED903BE6F</Id>
        <Name>AdMediator_Water</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>184651</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-D96FC42C-735D-4485-BE02-C6F105204328</Id>
        <Name>AdMediator_Electricity_Tips</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>184651</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-8B45B9A4-4188-4858-88DC-CDA6BB14D7FA</Id>
        <Name>AdMediator_Gas_Tips</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>184651</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-7629C730-445A-42A1-8C72-644A74844A3F</Id>
        <Name>AdMediator_Water_Tips</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>30</RefreshRate>
  <SchemaVersion>2.0.1</SchemaVersion>
  <UpdatedDateTime>2016-02-05T08:03:17.4199301Z</UpdatedDateTime>
  <UseRoundRobin>true</UseRoundRobin>
</AdMediatorConfiguration>